@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .button-bordered {
        @apply px-4 py-1 text-sm font-semibold border border-gray-400 hover:border-gray-200 rounded-full hover:scale-105 transition-all;
    }

    .button-user {
        @apply flex h-7 justify-center items-center gap-x-1 bg-gray-700 pr-4 pl-[.15rem] py-[.15rem] text-sm font-semibold rounded-full transition-all hover:bg-neutral-900;
    }

    .button-user-avatar {
        @apply w-6 h-6 rounded-full overflow-hidden;
    }
}


/* OJO!!!!!!!!!! 
// definir colores en el CSS pero es mejor en el tailwind.config.js
@layer utilities {
    .text-primary-color {
        color: #fff;
    }

    .text-secondary-color {
        color: #a7a7a7;
    }

    .bg-primary-color {
        background-color: #121212;
    }

    .bg-secondary-color {
        background-color: #181818;
    }

    .bg-tertiary-color {
        background-color: #282828;
    }

    .text-green-primary-color {
        color: #1dcf5d;
    }

    .text-green-secondary-color {
        color: #1fdc62;
    }

    .bg-green-primary-color {
        background-color: #1dcf5d;
    }

    .bg-green-secondary-color {
        background-color: #1fdc62;
    }

} */